body {
	background-color: rgb(230, 206, 141);

	h1 {
		color: red;
	}
}

.animal__image {
	height: 200px;
	width: 300px;
	background-size: contain !important;

	&--leopard {
		background: url('../images/leopard.png') no-repeat;
	}
}