body {
	background-color: $main-bg-color;
	font-family: 'liberation_sansregular';
	font-weight: 100;
	h1 {
		color: $title-color;
	}
}

.animal__image {
	height: 200px;
	width: 300px;
	background-size: contain !important;
	
	&--leopard {
		background: url('../images/leopard.png') no-repeat;
	}
	&--lion {
		background: url('../images/lion.png') no-repeat;
	}
}
.zebra,
.micky {
	width: 300px;
	height: 300px;
	position: relative;
}
// For testing autoprefix via postcss
.example {
	display: grid;
	padding: 7px;
	margin: 20px 0 25px;
	transition: all 0.5s;
	user-select: none;
	border-radius: 6px;
	background: linear-gradient(to bottom, white, black);
}
.thik-border {
	border: 6px solid burlywood;
}
.svg-background {
	width: 200px;
	height: 200px;
	background: url('../images/svg.svg') no-repeat;
}
.hmr-input {
	width: 300px;
}