body {
	background-color: rgb(140, 224, 220);
	font-family: 'League Gothic';
	h1 {
		color: rgb(185, 90, 12);
	}
}

.animal__image {
	height: 200px;
	width: 300px;
	background-size: contain !important;
	&--leopard {
		background: url('../images/leopard.png') no-repeat;
	}
	&--lion {
		background: url('../images/lion.png') no-repeat;
	}
}

.zebra {
	width: 300px;
	height: 300px;
}

// For testing autoprefix via postcss
.example {
	display: grid;
	height: 30px;
	padding: 7px;
	transition: all 0.5s;
	user-select: none;
	border-radius: 6px;
	background: linear-gradient(to bottom, white, black);
}